.container {
    max-width: 900px;
    margin: auto;
}

.row {
    display: flex;
    padding: 5% 10%;
}

/*[^=col-] {
    background: red;
}*/

.col-1 {
    width: 8.33333333333%;
}

.col-2 {
    width: calc(8.33333333333 * 2%);
}

.col-3 {
    width: calc(8.33333333333 * 3%);
}

.col-4 {
    width: calc(8.33333333333 * 4%);
}

.col-5 {
    width: calc(8.33333333333 * 5%);
}

.col-6 {
    width: calc(8.33333333333 * 6%);
}

.col-7 {
    width: calc(8.33333333333 * 7%);
}

.col-8 {
    width: calc(8.33333333333 * 8%);
}

.col-9 {
    width: calc(8.33333333333 * 9%);
}

.col-10 {
    width: calc(8.33333333333 * 10%);
}

.col-11 {
    width: calc(8.33333333333 * 11%);
}

.col-12 {
    width: calc(8.33333333333 * 12%);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 10px;
}

@media (max-width:900px) {
    .row {
        display: inherit;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
       width: 100%;
    }
}